
body {
	color: black;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	overflow-x: hidden;
	background-image: url("imagelink");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
  .topnav {
    background-color: #333;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #072763;
    color: white;
  }
  
  .home-title { 
      font-size: 5em;
      margin: 0;
      padding: 0;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-145%);
     }

  .home-subtitle { 
        font-size: 2em;
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
       }
       .typewriter h2 {
        color:black;
        font-family: monospace;
        overflow: hidden;
        border-right: .15em solid blue;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation: typing 2.5s steps(10, end), blink-caret .75s steps(100, end) infinite;
      }
      .typewriter {
        display: inline-flex;
    }
      
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color:blue }
      }




      

    
    .news-title{
      font-size: 4em;
      margin: 0;
      padding: 0;
      text-align: center;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%) translateY(-145%);
    }
    .search-it{
      font-size: 2em;
      margin: 0;
      padding: 0;
      text-align: center;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translateX(-50%) translateY(-145%);
    }

    .newspaper{
      column-count: 2;
      column-gap: 100px;
      column-rule: 1px solid lightblue;
      position: absolute;
      top: 35%;
      left: 0.5%;
      text-align: center;
    }

    .dateEl {
      display: inline-block;
      text-align: center;
      background: #f9f9f9;
      padding: 18px 0 25px 0;
      color: #173d51;
      font-size: 16px;
      font-weight: 700;
      width: 113px;
      text-transform: uppercase;
  }

  .dateEl em {
    display: block;
    color: #662d91;
    font-size: 42px;
    line-height: 1;
    margin-bottom: 5px;
    font-style: normal;
}

.media-heading a {
  color: #022235;
  font-size: 21px;
  text-transform: uppercase;
}

.meta-data {
  margin: 0 0 7px 0;
}

.longDate, .timeEl {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  color: #636465;
  text-transform: uppercase;
  min-height: 16px;
}

.longDate {
  padding: 0 10px 0 24px;
  border-right: 1px solid #eb5b4c;
  margin-right: 3px;
}





.map__img {
  margin-top:80px;
margin-left:110px;
width: 1200px;
height: 600px;
background-repeat: no-repeat;
display: block;
position: absolute;
background-position:center;
background-size:cover;
}
.map__hotspot {
  display: block;
  background: red;
  border: 2px solid red;
  cursor: pointer;
  -webkit-transition: background .3s linear;
          transition: background .3s linear;
  text-decoration: none;
  color: #011852;
}
#hotspot1 {
  left: 51.975%;
  top: 39.85%;
}
#hotspot2 {
  left: 23.975%;
  top: 51.85%;
}
#hotspot3 {
  right: 25%;
  bottom: 20%;
}
#hotspot4 {
  right: 50%;
  bottom: 20%;
}
#hotspot5 {
  right: 68%;
  bottom: 20%;
}
#hotspot6 {
  right: 37.95%;
  bottom: 45%;
}
#hotspot7
 {
  right: 39%;
  bottom: 60%;
}
#hotspot8
 {
  right: 80%;
  bottom: 60%;
}
#hotspot9
 {
  right: 65%;
  bottom: 75%;
}
#hotspot10 {
  right: 20%;
  bottom: 65%;
}
.popup__inner {
  padding: 20px 15px;
}
.map__hotspot:focus .popup {
  display: inline-block;
}
.popup__title {
  margin: 0;
}
.popup__text {
  margin: 0;
  height: 0;
  overflow: hidden;
}
.popup__text br {
  display: none;
}
.map__hotspot:focus .popup__text {
  height: auto;
}
@media screen and (min-width: 768px) {
  .map__inner {
    position: relative;
    height: 0;
    padding-bottom: 52.91666666666667%;
  }
  
  .map__hotspot {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .map__hotspot:hover,
  .map__hotspot:focus {
    background: #fff;
  }
  .popup {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
    position: absolute;
  }
  .popup__inner {
    display: inline-block;
    white-space: nowrap;
    background: #ffd200;
    border: 9px solid #fff;
    border-radius: 4px;
  }
  .map__hotspot:focus .popup {
    opacity: 1;
    width: auto;
    height: auto;
  }
  .popup--left-top {
    right: 20px;
    bottom: -1px;
  }
  .popup--left-top1 {
    right: 20px;
    bottom: -1px;
  }
  .popup--right-top {
    left: 20px;
    bottom: -1px;
  }
  .popup--right-top1 {
    left: 20px;
    bottom: -1px;
  }
  .popup--right-top2 {
    left: 20px;
    bottom: -1px;
  }
  .popup--right-top3 {
    left: 20px;
    bottom: -1px;
  }
  .popup--right-top4 {
    left: 20px;
    bottom: -1px;
  }
  .popup--right-top5 {
    left: 20px;
    bottom: -1px;
  }
  .popup--right-top6 {
    left: 20px;
    bottom: -1px;
  }
  .popup--left-bottom {
    right: 20px;
    top: -1px;
  }
  .popup--right-bottom {
    left: 20px;
    top: -1px;
  }
  .popup__text {
    height: auto;
  }
  .popup__text br {
    display: block;
  }


  
  
  #contact {
    width: 100%;
    height: 100vh;
    background-color: #111;
    overflow: hidden;
    padding-bottom: 200px;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
    font: 300 60px 'Oswald', sans-serif;
    letter-spacing: 6px;
    color: #fff;
    margin-bottom: 25px;
  }
  
  .contact-wrapper {
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    max-width: 800px;
  }
  
  
  .form-horizontal {
    float: left;
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
    max-height: 400px;
  }
  
  .form-control, textarea {
    max-width: 400px;
    background-color: #111;
    color:white;
    letter-spacing: 1px;
    height: 34px;
    
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 300 14px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  
  .direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
    
  }
  
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 1.4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 56px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color:white;
    text-decoration: none;
  }
  
  .social-media-list {
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    width: 100%;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    top: 0;
    left: -20px;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 10px auto;
    line-height: 70px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #111;
  }
  
  hr {
    border-color: rgba(255,255,255,.8); ;
  }
  
  @media screen and (max-width: 760px) {
      #contact {
          height: 1000px;
      }
    .section-header {
      font-size: 65px;
    }
    .direct-contact-container, .form-horizontal {
      float: none;
      margin: 10px auto;
    }  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
    #contact {
      height: 1200px;
      }
    .section-header{
      font-size: 50px;
    }
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      max-width: 340px;
      margin: 0 auto;
    }
    
    .name, .email, textarea {
      width: 280px;
    } 
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }